/*global*/
body{
    margin: 0px;
    padding :0px;
    background-image: url('../pics/bg.png');
    font-family:verdana,sans-serif;
    text-align: center;
}
.container{
    width:90%;
    margin:auto;
    padding:5%;
    overflow: hidden;
    text-align: center;
}

/*header*/
header{
    margin: 0px;
    padding: 0px;
}
header h1{
    margin: 0px;
    padding-top: 8px;
    padding-bottom: 10px;
    color: orange;
    font-size: 70px;
    box-shadow: 0px 0px 10px 0px;
    background-color: rgba(22,22,22,0.5);
}


/*Section header*/
.hd2{
    overflow: hidden;
    margin-top:25px;
    margin-bottom: 150px;
}
.hd2 #gif2_d {
    float: left;
    width:47%;
    padding-left: 3%;
}
.hd2 #gif1_d {
    float: left;
    width: 25%;
}
.hd2 #gif3_d {
    float: right;
    width: 25%;
}
.hd2 #gif2_d img{
    width:50%;
}
.hd2 #gif1_d img{
    width: 100%;
}
.hd2 #gif3_d img{
    width: 100%;
}

/*section*/
section .table{
    float: left;
    width: 35%;
    padding-left: 5%;
    padding-top: 25px;
}
section .table #wmain_dv {
    border: none;
}
section .table .winter_dv {
    border: none;
}
section .table .winner_most_dv {
    float: left;
    border: 1.5px #222223 solid;
    height: 120px;
    width: 120px;
    color: #366b6b;
    font-size: 600%;
    background-color: aqua;
}

section .result{
    float: right;
    width:60%;
}
section .rdiv{
    padding: 10px;
}
section .result #sp_d {
    color: orange;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
}
section .result #btn_d {
    height: 50px;
    width: 250px;
    font-size: 26px;
    background-color: #4B9900;
    border: none;
    border-radius: 5px;
    box-shadow: 10px 10px 25px 5px;
    font-weight: bold;
    margin-top: 15px;
}
section .result #sp_d2 {
    color: white;
    font-size: 40px;
    font-weight: bold;
}

section .result #btn_d2 {
    height: 50px;
    width: 480px;
    font-size: 24px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    box-shadow: 10px 10px 25px 5px;
    font-weight: bold;
}

/*footer*/
footer{
    width:100%;
    position: relative;
    bottom: 0px;
    padding: 0px;
    height:40px;
    background-color: rgba(22,22,22,0.3);
}
footer p{
    padding-top:13px;
    color: white;
    font-size: 15px;
}

/*bootstrap*/
/* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
        header h1{
            font-size:75px;
        }
        .hd2{
            margin-top:20px;
            margin-bottom: 80px;
        }
        section .result #sp_d{
            font-size: 55px;
        }
        section .result #sp_d2{
            font-size: 45px;
        }
        section .result #btn_d {
            height: 50px;
            width: 240px;
            font-size: 22px;
        }
        section .result #btn_d2 {
            height: 50px;
            width: 410px;
            font-size: 22px;
        }
        section .table{
            width:43%;
            padding-left: 1%;
        }
        section .result{
            width: 56%;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        header h1{
            font-size:70px;
        }
        .hd2{
            margin-top:20px;
            margin-bottom: 60px;
        }
        section .result #sp_d{
            font-size: 45px;
        }
        section .result #btn_d {
            height: 40px;
            width: 200px;
            font-size: 20px;
        }
        section .result #sp_d2{
            font-size:30px;
        }
        section .result #btn_d2 {
            height: 40px;
            width: 340px;
            font-size: 20px;
        }
        section .rdiv{
            padding: 0px;
            padding-top: 15px;
        }
        section .result{
            width: 54%;
        }
        section .table{
            width:44%;
            padding-left: 1%;
        }
        section .table .winner_most_dv {
            width: 90px;
            height: 90px;
            font-size: 450%;
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        header h1{
            font-size:57px;
        }
        .container{
            width:95%;
            padding: 0px;
        }
        .hd2{
            margin-top:50px;
            margin-bottom: 55px;
            padding: 0px;
        }
        .hd2 #gif2_d {
            width:47%;
            padding-left: 3%;
        }
        .hd2 #gif1_d {
            width: 25%;
        }
        .hd2 #gif3_d {
            width: 25%;
        }
        .hd2 #gif2_d img{
            width:62%;
        }
        section .result #sp_d{
            font-size: 40px;
        }
        section .result #btn_d {
            height: 40px;
            width: 210px;
            font-size: 19px;
        }
        section .result #sp_d2{
            font-size:35px;
        }
        section .result #btn_d2 {
            height: 40px;
            width: 350px;
            font-size: 19px;
        }
        section .rdiv{
            padding: 0px;
            padding-top: 15px;
        }
        section .result{
            width: 100%;
            float: none;
            margin-top: 50px;
            margin-bottom: 30px;
        }
        section .table{
            width:60%;
            margin: auto;
            padding-left: 0px;
            float: none;
            overflow: hidden;
        }
        section .table .winner_most_dv {
            width: 32%;
            height: 100px;
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
        header h1{
            font-size: 47px;
        }
        .container{
            width: 98%;
            overflow: visible;
        }
        .hd2{
            margin-top:50px;
            margin-bottom: 40px;
        }
        .hd2 #gif1_d {
            width: 27%;
        }
        .hd2 #gif2_d {
            width:43%;
            padding-left: 3%;
        }
        .hd2 #gif3_d {
            width: 27%;
            float: left;
        }
        .hd2 #gif1_d img{
            width:100%;
        }
        .hd2 #gif2_d img{
            width:95%;
        }
        .hd2 #gif3_d img{
            width:100%;  
        }
        section .table{
            width:70%;
            margin: auto;
            padding-left: 0px;
            float: none;
            overflow: hidden;
        }
        section .table .winner_most_dv {
            width: 31%;
            height: 80px;
            font-size: 400%;
        }
        section .result #sp_d{
            font-size: 35px;
        }
        section .result #btn_d {
            height: 35px;
            width: 180px;
            font-size: 19px;
        }
        section .result #sp_d2{
            font-size:25px;
        }
        section .result #btn_d2 {
            height: 35px;
            width: 250px;
            font-size: 16px;
        }
        section .rdiv{
            padding: 0px;
            padding-top: 15px;
        }
        section .result{
            width: 100%;
            float: none;
            margin-top: 50px;
            margin-bottom: 40px;
        }
        footer p{
            font-size: 12px;
        }
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 310px) {
        header h1{
            font-size: 43px;
        }
        section .table{
            width:80%;
            margin: auto;
            padding-left: 0px;
            float: none;
            overflow: hidden;
        }
        section .table .winner_most_dv {
            width: 31%;
            height: 65px;
            font-size: 350%;
        }
        section .result #sp_d{
            font-size: 27px;
        }
        section .result #btn_d {
            height: 35px;
            width: 140px;
            font-size: 17px;
        }
        section .result #sp_d2{
            font-size:21px;
        }
        section .result #btn_d2 {
            height: 35px;
            width: 180px;
            font-size: 14px;
        }
        section .rdiv{
            padding: 0px;
            padding-top: 15px;
        }
        section .result{
            width: 100%;
            float: none;
            margin-top: 50px;
            margin-bottom: 40px;
        }
        footer p{
            font-size: 10px;
        }
    }